<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
      }
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
        min-height: 480px;
      }
      h1 {
        margin-top: 0;
      }
      p {
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <header
      style="
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin: 0;
      "
    >
      <h1 style="margin: 0">
        <a href="index.html" style="text-decoration: none; color: #fff"
          >TuneTrove</a
        >
      </h1>
      <nav style="margin-top: 10px">
        <a
          href="/about"
          style="color: #fff; text-decoration: none; margin-right: 20px"
          >About Us</a
        >
        <a href="/contact" style="color: #fff; text-decoration: none"
          >Contact Us</a
        >
      </nav>
    </header>
    <div class="container">
      <p>
        Welcome to our website! We are a team of passionate developers dedicated
        to creating innovative solutions for our users.
      </p>
      <p>
        The development of music recommendation systems using ontologies and web
        semantics has gained significant attention in recent years. By analyzing
        user preferences, behavior, and past listening habits, these systems
        suggest songs, albums, or artists to users that align with their
        individual preferences. In this project, we have designed a music
        recommendation system that recommends popular songs based on a chosen
        genre or artist using their popularity score. Our system is able to
        identify patterns and provide personalized recommendations that enhance
        the listening experience for music lovers.
      </p>
      <p>
        Feel free to explore our website and don't hesitate to
        <a href="contact.html">contact us</a> if you have any questions or
        feedback.
      </p>
    </div>

    <footer
      style="
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
      "
    >
      <p style="font-size: 14px">
        Developed by Ashish Kumar and Aman Kumar. &copy; 2024 All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
